@import url(https://fonts.googleapis.com/css?family=Lato:700,900);

h1 {
  color: black;
  /* font-weight: 00; */
  /* z-index: 1000; */
  position: relative;
  font-family: "Brush Script MT";
  /* font-size: 50px; */
  padding-top: 90px;
}

/* fills left margin automatically allowing responsive behavior for search bar */

#container {
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 0px;
}

#container div {
  position: absolute;
}

#top {
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
}

#liquid {
  background-color: #f2c025;
  border: 10px solid #f2c025;
  bottom: 0;
  height: 270px;
  overflow: hidden;
  width: 2500px;
}

/* afte the liquid background has rendered display this opaque rectagle at an angle */
#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: "";
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

/* create small circles that will mimic bubbles//connect to webkit-keyframes animations */
#liquid .bubble {
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

/* we put the prefix of 'webkit' as a way for browser makers to add support for new CSS features before those features are fully supported in all browsers */
/* you could delete webkit and still have the animations fully functional */
@-webkit-keyframes bubble {
  /* start from bottom */
  0% {
    bottom: 0;
  }
  /* after 50% of the time alloted has passed change color */
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }
  /* after 100% of time has passed */
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}
/* catpture bubble divs and apply frames */
.bubble1 {
  left: 10px;
  animation-delay: 1000ms;
  animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  animation-delay: 700ms;
  animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  animation-delay: 1200ms;
  animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  animation-delay: 1100ms;
  animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  animation-delay: 1300ms;
  animation-duration: 800ms;
}

/* create white circles and position across top of container to make foam */

.beer-foam {
  position: absolute;
  bottom: 10px;
  height: 180px;
}

.foam-1,
.foam-2,
.foam-3,
.foam-4,
.foam-5,
.foam-6,
.foam-7,
.foam-8,
.foam-9,
.foam-10,
.foam-11,
.foam-12,
.foam-13,
.foam-14,
.foam-15,
.foam-16,
.foam-17,
.foam-18,
.foam-19,
.foam-20,
.foam-21,
.foam-22,
.foam-23,
.foam-24,
.foam-25,
.foam-26,
.foam-27,
.foam-28,
.foam-29,
.foam-30,
.foam-31,
.foam-32,
.foam-33,
.foam-34,
.foam-35,
.foam-36,
.foam-37,
.foam-38,
.foam-39,
.foam-40,
.foam-41,
.foam-42,
.foam-43,
.foam-44,
.foam-45,
.foam-46,
.foam-47,
.foam-48,
.foam-49,
.foam-50,
.foam-51,
.foam-52,
.foam-53,
.foam-54,
.foam-55,
.foam-56,
.foam-57,
.foam-58,
.foam-59,
.foam-60,
.foam-61,
.foam-62,
.foam-63,
.foam-64,
.foam-65,
.foam-66,
.foam-67,
.foam-68,
.foam-67,
.foam-68,
.foam-69,
.foam-70,
.foam-71,
.foam-72,
.foam-73,
.foam-74,
.foam-75,
.foam-76,
.foam-77 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: -10px;
}
.foam-2 {
  top: -35px;
  left: 20px;
}
.foam-3 {
  top: -25px;
  left: 50px;
}
.foam-4 {
  top: -35px;
  left: 80px;
}
.foam-5 {
  top: -30px;
  left: 110px;
}
.foam-6 {
  top: -20px;
  left: 140px;
}
.foam-7 {
  top: -30px;
  left: 160px;
}

.foam-8 {
  top: -30px;
  left: 170px;
}
.foam-9 {
  top: -35px;
  left: 170px;
}
.foam-10 {
  top: -25px;
  left: 210px;
}
.foam-11 {
  top: -35px;
  left: 250px;
}
.foam-12 {
  top: -30px;
  left: 270px;
}
.foam-13 {
  top: -20px;
  left: 300px;
}
.foam-14 {
  top: -30px;
  left: 340px;
}
.foam-15 {
  top: -30px;
  left: 385px;
}
.foam-16 {
  top: -27px;
  left: 390px;
}
.foam-17 {
  top: -40px;
  left: 420px;
}
.foam-18 {
  top: -45px;
  left: 420px;
}
.foam-19 {
  top: -35px;
  left: 440px;
}
.foam-20 {
  top: -27px;
  left: 450px;
}
.foam-21 {
  top: -35px;
  left: 470px;
}
.foam-22 {
  top: -30px;
  left: 505px;
}
.foam-23 {
  top: -40px;
  left: 535px;
}
.foam-24 {
  top: -30px;
  left: 550px;
}
.foam-25 {
  top: -35px;
  left: 570px;
}
.foam-26 {
  top: -25px;
  left: 590px;
}
.foam-27 {
  top: -35px;
  left: 620px;
}
.foam-28 {
  top: -30px;
  left: 640px;
}
.foam-29 {
  top: -30px;
  left: 670px;
}
.foam-30 {
  top: -35px;
  left: 680px;
}
.foam-31 {
  top: -35px;
  left: 680px;
}
.foam-32 {
  top: -30px;
  left: 710px;
}
.foam-33 {
  top: -20px;
  left: 740px;
}
.foam-34 {
  top: -30px;
  left: 760px;
}

.foam-35 {
  top: -30px;
  left: 770px;
}
.foam-36 {
  top: -35px;
  left: 770px;
}
.foam-37 {
  top: -25px;
  left: 810px;
}
.foam-38 {
  top: -35px;
  left: 850px;
}
.foam-39 {
  top: -30px;
  left: 870px;
}
.foam-40 {
  top: -20px;
  left: 900px;
}
.foam-41 {
  top: -30px;
  left: 940px;
}

.foam-42 {
  top: -30px;
  left: 985px;
}
.foam-43 {
  top: -30px;
  left: -1010px;
}
.foam-44 {
  top: -35px;
  left: 1020px;
}
.foam-45 {
  top: -25px;
  left: 1050px;
}
.foam-46 {
  top: -35px;
  left: 1080px;
}
.foam-47 {
  top: -30px;
  left: 1110px;
}
.foam-48 {
  top: -20px;
  left: 1140px;
}
.foam-49 {
  top: -30px;
  left: 1160px;
}

.foam-50 {
  top: -30px;
  left: 1170px;
}
.foam-51 {
  top: -35px;
  left: 1170px;
}
.foam-52 {
  top: -25px;
  left: 1210px;
}
.foam-53 {
  top: -35px;
  left: 1250px;
}
.foam-54 {
  top: -30px;
  left: 1270px;
}
.foam-55 {
  top: -20px;
  left: 1300px;
}
.foam-56 {
  top: -30px;
  left: 1340px;
}
.foam-57 {
  top: -30px;
  left: 1385px;
}
.foam-58 {
  top: -30px;
  left: 1410px;
}
.foam-59 {
  top: -35px;
  left: 1420px;
}
.foam-60 {
  top: -25px;
  left: 1450px;
}
.foam-61 {
  top: -35px;
  left: 1480px;
}
.foam-62 {
  top: -30px;
  left: 1510px;
}
.foam-63 {
  top: -20px;
  left: 1540px;
}
.foam-64 {
  top: -30px;
  left: 1560px;
}

.foam-65 {
  top: -30px;
  left: 1570px;
}
.foam-66 {
  top: -35px;
  left: 1570px;
}
.foam-67 {
  top: -25px;
  left: 1610px;
}
.foam-68 {
  top: -35px;
  left: 1650px;
}
.foam-69 {
  top: -30px;
  left: 1670px;
}
.foam-70 {
  top: -20px;
  left: 1700px;
}
.foam-71 {
  top: -30px;
  left: 1740px;
}
.foam-72 {
  top: -30px;
  left: 1785px;
}
.foam-73 {
  top: -30px;
  left: 1810px;
}
.foam-74 {
  top: -35px;
  left: 1820px;
}
.foam-75 {
  top: -25px;
  left: 1850px;
}
.foam-76 {
  top: -35px;
  left: 1880px;
}
.foam-77 {
  top: -30px;
  left: 1910px;
}

/**********************************************/
h1 {
  text-align: center;
}

form {
  display: flex;
  margin: auto;
}

.map {
  margin: auto;
  height: 72vh;
  width: 100%;
  display: none;
}

.favorite-list {
  display: none;
  text-align: center;
}

.subtitle {
  position: relative;
  text-align: center;
  color: white;
}

.chart {
  text-align: center;
  height: 72vh;
  overflow: hidden;
  margin-top: 20px;
}

#chart {
}

footer {
  height: 4vh;
  background-color: #f2c025;
  text-align: center;
  overflow: hidden;
}

main {
  height: 72vh;
}

.fav-btn {
  margin-left: -65px;
}

.day {
  background-color: #00b7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.night { 
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  }
